[submodule "a1-SeanArackal"]
	path = a1-SeanArackal
	url = https://github.com/ScribleSean/a1-SeanArackal
[submodule "a2-SeanArackal"]
	path = a2-SeanArackal
	url = https://github.com/ScribleSean/a2-SeanArackal
