[submodule "a1"]
	path = a1
	url = https://github.com/ScribleSean/a1-SeanArackal
[submodule "a2"]
	path = a2
	url = https://github.com/ScribleSean/a2-SeanArackal
[submodule "a3"]
	path = a3
	url = https://github.com/ScribleSean/a3-SeanArackal
[submodule "a4"]
	path = a4
	url = https://github.com/ScribleSean/a4-sean-arackal
